<!-- Legend -->
<section class="legend">
    <p class="green legend-cell">Goals</p>
    <p class="blue legend-cell">Assists</p>
    <p class="red legend-cell">Blocks</p>
    <p class="yellow legend-cell">Turnovers</p>
</section>