/* Variables */
:root{
    --purple: #6E46CC;
    --green: #51B599;
    --card-background: #F9F4EA;
    --orange: #F19460;
    --background: #3A3C63;
    --blue: #5950D2;
    --red: rgb(185, 43, 43);
    --dark-green: green;
    --yellow: #FAB617;
    --boy-blue: #6E9FD7;
    --girl-pink: #F8B9D4;
    --hold-green: #51A653;
    --break-green: #00DC32;
    --conceded-red: #AD4D4D;
    --broken-red: #E9111C;

    --border-radius-3: 0.3em;
    --column-gap-6: 0.6em;
    --row-gap-1: 1em;
    --cell-gap-4: 0.4em;
    --cell-gap-8: 0.8em;
    --cell-padding-4: 0.4em 0.6em;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* General */
html{
    scroll-behavior: smooth;
}

body{
    font: 100%/1.4 "Open Sans", sans-serif;
    background-color: var(--background);
    padding: 1em;
}

/* Main */
main{
    display: flex;
    flex-flow: column;
    row-gap: var(--row-gap-1);
}

/* Info section */
.game-info{
    display: flex;
    flex-flow: row wrap;
    gap: var(--cell-gap-4);
    background: var(--card-background);
    border-radius: var(--border-radius-3);
    padding: var(--cell-padding-4);
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
}

.primary-cell{
    border-radius: var(--border-radius-3);
    background-color: var(--orange);
    padding: var(--cell-padding-4);
    font-weight: 500;
}

/* Team score & info */
.team-info{
    display: flex;
    justify-content: space-around;
    background: var(--card-background);
    border-radius: var(--border-radius-3);
    padding: var(--cell-padding-4);
    width: 100%;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--cell-padding-4);
    width: 33%;
    row-gap: 0.8em;
}

.team-flag{
    aspect-ratio: 2/1;
    width: 64px;
    object-fit: contain;
}

.team-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-name{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.team-country{
    font-weight: 500;
    font-size: 0.9em;
}

.score{
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* Tabs section */
.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    gap: var(--cell-gap-8);
    background: var(--card-background);
    border-radius: var(--border-radius-3);
    padding: var(--cell-padding-4);
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
}

.tabs p{
    padding: 0 0.4em;
    font-weight: 500;
}

/* Scoreboard section */
.scoreboard{
    display: flex;
    flex-direction: column;
    background: var(--card-background);
    border-radius: var(--border-radius-3);
    padding: var(--cell-padding-4);
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
}

.scoreboard table{
    width: 100%;
    border-collapse: collapse;
}

.scoreboard table thead tr th{
    padding: 0.4em 0;
}

.scoreboard th{
    font-size: 0.9em;
}

.scoreboard tbody tr td{
    text-align: center;
}

.scoreboard tbody tr:nth-child(even){
    background: rgb(205, 203, 203);
}

.scoreboard tbody tr:first-of-type td:first-of-type{
    border-top-left-radius: var(--border-radius-3);
}

.scoreboard tbody tr:first-of-type td:last-of-type{
    border-top-right-radius: var(--border-radius-3);
}

.scoreboard tbody tr:last-of-type td:first-of-type{
    border-bottom-left-radius: var(--border-radius-3);
}

.scoreboard tbody tr:last-of-type td:last-of-type{
    border-bottom-right-radius: var(--border-radius-3);
}

.hold{
    background: var(--hold-green);
}

.break{
    background: var(--break-green);
}

.conceded{
    background: var(--conceded-red);
    color: white;
}

.broken{
    background: var(--broken-red);
}

.table-score{
    font-weight: bold;
    background: var(--card-background);
}

/* Legend section */
.legend{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    background: var(--card-background);
    border-radius: var(--border-radius-3);
    padding: 0.6em 0.4em;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
}

.legend-cell{
    border-radius: var(--border-radius-3);
    padding: 0.2em 0.5em;
    font-size: 0.9em;
    font-weight: 500;
}

.green{
    background: var(--dark-green);
    color: white;
}

.blue{
    background: var(--blue);
    color: white;
}

.red{
    background: var(--red);
    color: white;
}

.yellow{
    background: var(--yellow);
    color: black;
}

/* Player section */
.players{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--card-background);
    border-radius: var(--border-radius-3);
    padding: 0.8em 0.6em;
    row-gap: 0.8em;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
}

.team-players{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.8em;
}

.team-name-heading{
    font-size: 1.2em;
    font-weight: bold;
}

.player-card{
    display: flex;
    width: 100%;
    align-items: center;
    /* border: solid 1px black; */
    border-radius: var(--border-radius-3);
    /* padding: 0.4em; */
    position: relative;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.45);
    min-height: 3.5em;
}

.player-card:nth-child(even){
    background: rgb(239, 239, 239);
}

.player-card:nth-child(odd){
    background: rgb(204, 204, 204);
}

.flex-reversed{
    flex-direction: row;
}

.player-stats{
    display:flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    padding: 0.4em;
    margin-left: 15%;
}

.stats-reversed{
    flex-direction: row;
}

.jersey-num{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding: 1.1em 0;
    font-weight: 500;
    border-top-left-radius: var(--border-radius-3);
    border-bottom-left-radius: var(--border-radius-3);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
}

.gender-M{
    background: var(--boy-blue);
}

.gender-F{
    background: var(--girl-pink);
}

.player-name-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.player-name-wrapper{
    display: flex;
}

.player-name-wrapper-reversed{
    flex-direction: row;
}

.player-name{
    font-size: 0.9em;
    font-weight: 500;
    padding: 0 0 0 0.4em;
}

.player-extra-info{
    text-decoration: underline;
}

.player-extra-info-form{
    /* position: absolute;
    left: -10px; */
    display: flex;
    align-items: center;
    margin: 0 5px 0 5px;
}

.player-extra-info-form input[type="submit"]{
    padding: 0 0.2em;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.player-pronounced{
    font-style: italic;
    color: gray;
    font-weight: 400;
    padding: 0 0.4em 0 0.4em;
}

.actions{
    display: flex;
    flex-direction: row;
    column-gap: 0.2em;
    align-items: center;
}

.actions p{
    padding: 0.2em 0.4em;
    border-radius: var(--border-radius-3);
    font-size: 0.9em;
}

.goal{
    background: var(--dark-green);
    color: white;
}

.assist{
    background: var(--blue);
    color: white;
}

.block{
    background: var(--red);
    color: white;
}

.turnover{
    background: var(--yellow);
    color: black;
}

@media (min-width: 48rem){
    main{
        display: grid;
        grid-template-columns: 1.3fr 1.3fr 1fr 1fr 1fr 1fr; 
        /* grid-template-rows: 1fr 0.3fr 0.3fr 1fr 1fr 1fr 1fr;  */
        grid-auto-rows: fit-content(1em);
        gap: 16px 16px; 
        grid-template-areas: 
        "Game-info Game-info Team-info Team-info Team-info Team-info"
        "Legend Legend Team-info Team-info Team-info Team-info"
        "Tabs Tabs Team-info Team-info Team-info Team-info"
        "Scoreboard Scoreboard Scoreboard Scoreboard Scoreboard Scoreboard"
        "Scoreboard Scoreboard Scoreboard Scoreboard Scoreboard Scoreboard"
        "Players Players Players Players Players Players"
        "Players Players Players Players Players Players"; 
        height: 100vh;
    }

    /* Game info section */
    .game-info{
        grid-area: Game-info;
        align-content: flex-start;
    }

    /* Team info section */
    .team-info{
        grid-area: Team-info;
        align-items: center;
    }

    .team-flag{
        width: 128px;
    }

    .team-name{
        font-size: 1.1em;
    }

    .score{
        font-size: 1.5em;
    }

    /* Legend section */
    .legend{
        grid-area: Legend;
        position: relative;
        align-content: flex-start;
    }

    .legend-cell{
        padding: 0.2em 0.3em;
    }

    /* Tabs section */
    .tabs{
        grid-area: Tabs;
        width: 100%;
        align-items: center;
    }

    /* Scoreboard section */
    .scoreboard{
        grid-area: Scoreboard;
        align-content: flex-start;
        margin: 0 0 auto 0;
        padding: 0.8em 1em;
    }

    /* Player section */
    .players{
        grid-area: Players;
        align-content: flex-start;
        margin: 0 0 auto 0;
        flex-direction: row;
        column-gap: 0.8em;
    }

    .reverse{
        text-align: right;
    }

    .player-name-container-reversed{
        align-items: flex-end;
    }

    .player-name{
        padding: 0 0.4em 0 0.4em;
    }

    .player-name-wrapper-reversed{
        flex-direction: row-reverse;
    }

    .flex-reversed{
        flex-direction: row-reverse;
        margin-left: 0;
        margin-right: 15%;
    }

    .num-reversed{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--border-radius-3);
        border-bottom-right-radius: var(--border-radius-3);
    }
}